<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\go\b2b" arguments="" stdoutLogEnabled="true" stdoutLogFile="%HOME%\LogFiles\stdout.log" startupTimeLimit="3600" />
  </system.webServer>
</configuration>